<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>Qoopido.js example</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="../default.css" />
	<style type="text/css">
		#controls {
			text-align: center;
		}

		#controls a {
			margin-right: 20px;
		}

		#pager {
			position:         absolute;
			left:             50%;
			top:              50%;
			margin:           -100px 0 0 -100px;
			font-size:        128px;
			font-weight:      bold;
			text-align:       center;
			line-height:      200px;
			color:            #fff;
		}

		#pager > section {
			display: none;
			width:   200px;
			height:  200px;
		}
	</style>
</head>
<body>

<div id="console">
	<svg width="22px" height="22px" viewBox="0 0 42 42" version="1.1" xmlns="http://www.w3.org/2000/svg">
		<path d="M21,35.7 C29.1185862,35.7 35.7,29.1185862 35.7,21 C35.7,12.8814138 29.1185862,6.3 21,6.3 C12.8814138,6.3 6.3,12.8814138 6.3,21 C6.3,29.1185862 12.8814138,35.7 21,35.7 Z M21,42 C9.40201968,42 0,32.5979803 0,21 C0,9.40201968 9.40201968,0 21,0 C32.5979803,0 42,9.40201968 42,21 C42,25.4717509 40.6023075,29.617053 38.22,33.0228094 L38.22,38.22 L33.0228094,38.22 C29.617053,40.6023075 25.4717509,42 21,42 Z M21,42" fill="#FFFFFF"></path>
		<path d="M21,29.4 C16.3608079,29.4 12.6,25.6391921 12.6,21 C12.6,16.3608079 16.3608079,12.6 21,12.6 C25.6391921,12.6 29.4,16.3608079 29.4,21 C29.4,22.3143115 29.0981487,23.5581219 28.56,24.6658654 L28.56,28.56 L24.6658654,28.56 C23.5581219,29.0981487 22.3143115,29.4 21,29.4 Z M21,29.4" fill="#FFFFFF"></path>
	</svg>

	<h3>Pager state</h3>
	<dl>
		<dt>Previous index:</dt><dd id="previous"></dd>
		<dt>Current index:</dt><dd id="current"></dd>
	</dl>

	<div id="controls">
		<a href="#" data-action="previous">&lsaquo; previous</a>
		<a href="#" data-action="next">next &rsaquo;</a>
	</div>
</div>

<div id="pager" role="listbox">
	<section role="option" tabindex="-1" aria-selected="false">1</section>
	<section role="option" tabindex="-1" aria-selected="false">2</section>
	<section role="option" tabindex="-1" aria-selected="false">3</section>
	<section role="option" tabindex="-1" aria-selected="false">4</section>
	<section role="option" tabindex="-1" aria-selected="false">5</section>
	<section role="option" tabindex="-1" aria-selected="false">6</section>
	<section role="option" tabindex="-1" aria-selected="false">7</section>
	<section role="option" tabindex="-1" aria-selected="false">8</section>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
<script type="text/javascript">
	require.config({
		baseUrl: "../../dist/latest/min"
	});

	require([ 'base' ], function() {
		require([ 'dom/element', 'dom/collection', 'component/pager' ], function(mDomElement, mDomCollection, mPager) {
			var previous = mDomElement.create('#previous'),
				current  = mDomElement.create('#current'),
				pager    = mPager
					.create(mDomCollection.create('#pager > section').elements)
					.on('preSeek postSeek', function(type) {
						var index = pager.getIndex(),
							item  = pager.getState().item;

						switch(type) {
							case 'preSeek':
								previous.setContent(index);
								item.setAttributes({ tabindex: -1, 'aria-selected': 'false' }).removeAttribute('style');
								break;
							case 'postSeek':
								current.setContent(index);
								item.setAttributes({ tabindex: 0, 'aria-selected': 'true' }).setStyle('display', 'block');
								break;
						}
					}),
				interval = window.setInterval(pager.next, 5000);

			pager.seek(0);

			mDomElement
				.create('#console')
				.on('click', '[data-action]', function(event) {
					event.preventDefault();
					event.stopPropagation();

					window.clearInterval(interval);
					interval = window.setInterval(pager.next, 5000)
					pager[mDomElement.create(event.target).getAttribute('data-action')]();
				});
		});
	});
</script>

</body>
</html>