AddType application/json .shrunk
AddType application/javascript .shrunk.jsonp

<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^((.+).q([0-9]+).shrunk)$ shrinkimage.php?file=$1&source=$2.png&quality=$3 [QSA,L]
        RewriteRule ^((.+).q([0-9]+).shrunk.jsonp)$ shrinkimage.php?file=$1&source=$2.png&quality=$3&jsonp=1 [QSA,L]
</IfModule>

<Ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE application/json application/javascript
</IfModule>